.container-fluid {
  background-color: #212529;
  height: 100vh;
  width: 100vw;
}

.row {
  justify-content: center;
}

label.sr-only {
  position: relative;
}

button.authSwitch {
  border-radius: 6px;
  background-color: #4eacc9;
  font-weight: 600;
  height: 40px;
  border: solid #212529;
  color: #212529;
}

button.authSwitch:hover {
  background-color: #4eacc9b7;
  cursor: pointer;
}

button.authButton:enabled {
  border-radius: 6px;
  background-color: #4eacc9;
  font-weight: 600;
  height: 40px;
  border: solid #212529;
  color: #212529;
}

button.authButton:disabled {
  border-radius: 6px;
  background-color: #4eacc962;
  font-weight: 600;
  height: 40px;
  border: solid #212529;
  color: #212529;
}

button.authButton:enabled:hover {
  background-color: #4eacc9b7;
  cursor: pointer;
}
