<div class="text-center">
  <div class="alert alert-danger" *ngIf="error">
    <p>{{ error }}</p>
  </div>
  <div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <form class="form-signin" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
    <img class="mb-4" src="assets/icons/image.png" alt="" width="250" height="150">
    <br>

    <label for="inputEmail" class="sr-only">Email address</label>
    <input
      type="email"
      id="inputEmail"
      class="form-control"
      name="email"
      ngModel
      placeholder="Email address"
      required
      autofocus>

    <label for="inputPassword" class="sr-only">Password</label>
    <input
      type="password"
      id="inputPassword"
      class="form-control"
      name="password"
      ngModel
      placeholder="Password"
      required
      minlength="6">

    <div class="checkbox mb-3">
    </div>

    <button
      class="btn btn-lg btn-primary btn-block"
      type="submit"
      [disabled]="!authForm.valid"
      >
      {{ isLoginMode ? 'Login' : 'Sign Up' }}
    </button> |

    <button
      class="btn btn-lg btn-primary btn-block"
      (click)="onSwitchMode()"
      type="button">
      Switch to {{ isLoginMode ? 'Sign Up' : 'Login' }}
    </button>

    <p class="mt-5 mb-3 text-muted">© 2023-2024</p>
  </form>
</div>
