<body class="tasklist-container">
  <!-- Add New Subscription Button -->
  <div class="add-button-container">
    <button type="button" class="add-button">Add New Subscription</button>
  </div>
  <!-- Table -->
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Icon</th>
          <th>Company</th>
          <th>Renew Date</th>
          <th>Type</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>icon</td>
          <td>company</td>
          <td>renewDate</td>
          <td>subscriptionType</td>
          <div class="action-icons">
            <td>
              <button>
                <img
                  src="./assets/img/Google_icon_visibility_eye.svg"
                  alt="view icon"
                  class="view-icon"
                />
              </button>
              <button class="action-symbol">
                <img
                  src="./assets/img/Google_icon_edit_square.svg"
                  alt="edit icon"
                  class="edit-icon"
                />
              </button>
              <button class="action-symbol">
                <img
                  src="./assets/img/Google_icon_delete_trashcan.svg"
                  alt="delete icon"
                  class="delete-icon"
                />
              </button>
            </td>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
</body>
