<div>
  <form>
<!-- Upload Icon -->
<input type="test" placeholder="Company Name">
<label for="renewal-date" id="renewal-label">Renewal Date<input id="renewal-date" name="renewal-date" type="date">
</label>
<label for="radio-button" id="radio-label">Subscription Type
  <option id="radio-button" type="radio" value="monthly">Monthly</option>
  <option id="radio-button" type="radio" value="yearly">Yearly</option>
</label>
  <textarea id="textarea" type="textarea" min="1" max="50" placeholder="Any additional notes..."></textarea>
</form>
</div>
<!-- <mat-form-field>
  <mat-label>Title</mat-label>
  <input matInput cdkFocusInitial [(ngModel)]="data.task.title" />
</mat-form-field>

<mat-form-field>
  <mat-label>Description</mat-label>
  <textarea matInput [(ngModel)]="data.task.description"></textarea>
</mat-form-field>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="{ task: data.task }">OK</button>
  <button mat-button (click)="cancel()">Cancel</button>
  <button
    *ngIf="data.enableDelete"
    mat-fab
    color="primary"
    aria-label="Delete"
    [mat-dialog-close]="{ task: data.task, delete: true }">
    <mat-icon>delete</mat-icon>
  </button> -->
