<div class="px-5 py-4 bg-dark text-white">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white">
        <img
          src="assets/img/logo.png"
          alt="Trial Tracker Logo"
          width="160"
          height="90"
          class="me-2"
        />
      </a>
      <ul
        class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small"
      >
        <li class="font">
          <a href="/subscriptions" class="nav-link text-white">
            <button class="btn" width="24" height="24">Subscriptions</button>
          </a>
        </li>
        <li class="font">
          <a href="/dashboard" class="nav-link text-white">
            <button class="btn" width="24" height="24">Dashboard</button>
          </a>
        </li>
        <li class="font">
          <a class="nav-link text-white" (click)="onLogout()">
            <button class="btn" width="24" height="24">Logout</button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
