<div class="px-5 py-4 bg-dark text-white">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none"
      >
        <img
          src="assets/icons/image.png"
          alt="Your Image"
          width="150"
          height="90"
          class="me-2"
        />
      </a>

      <ul
        class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small"
      >
        <li>
          <a class="nav-link text-white">
            <button
              class="bi d-block mx-auto mb-1"
              width="24"
              height="24"
              routerLink="/tasklist"
            >
              Tasklist
            </button>
          </a>
        </li>
        <li>
          <a class="nav-link text-white">
            <button
              class="bi d-block mx-auto mb-1"
              width="24"
              height="24"
              routerLink="/dashboard"
            >
              Dashboard
            </button>
          </a>
        </li>
        <li>
          <a class="nav-link text-white">
            <button
              class="bi d-block mx-auto mb-1"
              width="24"
              height="24"
              routerLink="/calendar"
            >
              Calendar
            </button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
