body {
  overflow: hidden; /* Hide scrollbars */
}

.window {
  display: flex;
  margin-right: -592px;
  flex-direction: column;
  background-color: #212529;
  max-height: 100vh; /* Set the maximum height to the height of the viewport */
  overflow-y: clip; /* Enable vertical scrolling if content overflows */
  overflow-x: clip;
}

.header {
  background-color: #ff0000;
  margin-right: 0px;
  margin-left: 150px;
}

.container {
  display: flex;
  max-height: 85vh;
  overflow-y: clip;
  /* Don't add overflow-x, it will clip the folder sidebar */
  background-color: #0cf151;
}

.main-content {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 25px;
  max-height: 85vh;
  overflow-y: clip;
  overflow-x: clip;
  flex-wrap: wrap;
  background-color: #b4b4b4;
}
