.container-fluid {
  margin-left: -38rem;
  background-color: #2596be;
  width: 25em;
}

h1 {
  font-size: 25px;
  height: 30px;
  margin-left: 10px;
  color: #0f2530;
}

.bi-folder-fill {
  color: #0f2530;
}

.folderAlias{
  font-size: 25px;
}

.folderCount {
  font-size: 20px;
}

li {
  color: transparent;
  margin-left: -30px;
}

.error-message {
  color: red;
  font-size: 20px;
  margin-left: 10px;
}
