<body class="tasklist-container">

<header>
  <div class="tracker-logo">
  <img src="./assets/img/Google_icon_brain.svg" alt="Brain Icon" class="brain-icon">
  <div class="logo-words">
  <h1>Trial Tracker</h1>
  <h2>Good to Know</h2>
  </div>
  </div>
  <div class="user-container">
<img class="profile-picture" src="./assets/img/freckles250x250.jpg" alt="Profile Picture">
  <label class="user-details" for="profile" id="profile-label">Me
    <select class="profile-dropdown" type="dropdown" id="profile" type="dropdown">
    <option>Profile</option>
    <option>Log Out<img src="./assets/img/Google_icon_logout.svg" alt="Logout Icon"></option>
    </select>
  </label>
    </div>
    </header>
<!-- Navbar -->
<div class="navbar">
  <nav>
    <ul>
      <li>Dashboard</li>
      <li>Calendar</li>
    </ul>
  </nav>
</div>
  <!-- Add New Subscription Button -->
  <div class="add-button-container">
  <button type="button" class="add-button">Add New</button>
  </div>
<!-- Table -->
<div class="table-container">
  <table>
  <thead>
    <tr>
      <th>Icon</th>
      <th>Company</th>
      <th>Renew Date</th>
      <th>Type</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>icon</td>
      <td>company</td>
      <td>renewDate</td>
      <td>subscriptionType</td>
      <div class="action-icons">
      <td>
        <button>
          <img src="./assets/img/Google_icon_visibility_eye.svg" alt="view icon" class="view-icon">
        </button>
        <button class="action-symbol">
          <img src="./assets/img/Google_icon_edit_square.svg" alt="edit icon" class="edit-icon">
        </button>
        <button class="action-symbol">
          <img src="./assets/img/Google_icon_delete_trashcan.svg" alt="delete icon" class="delete-icon">
        </button>
        </td>
        </div>
    </tr>
  </tbody>
</table>
</div>
</body>
