
   <!-- ========= Dashboard ========== -->
            <!-- ========= Dashboard Cards========== -->
   <div class="dashboard-title">USER DASHBOARD</div>
   <div class="button-group">
    <button onclick="window.print();" class="dashboard-button print"><i class="fa-solid fa-print" style="color: #000000;"></i> Print</button>
    <button onclick="shareDashboard();" class="dashboard-button share"><i class="fa-solid fa-share-nodes" style="color: #000000;"></i> Share</button>
    <button onclick="exportDashboard();" class="dashboard-button export"><i class="fa-solid fa-file-export" style="color: #000000;"></i> Export</button>
  </div>
            <div class="card-container">
              <div class="dashboard-card">
                  <div>
                  <div class="numbers">10</div>
                  <div class="cardName">Active Subscriptions</div>
                </div>

                  <div class="icons">
                    <i class="fa-sharp fa-solid fa-bolt" style="color: blue;"></i>
                  </div>
              </div>

              <div class="dashboard-card">
                  <div>
                      <div class="numbers">20</div>
                      <div class="cardName">Cancelled Subscriptions</div>
                  </div>
                  <div class="icons">
                    <i class="fa-sharp fa-solid fa-xmark" style="color: red;" ></i>
                  </div>
              </div>

              <div class="dashboard-card">
                  <div>
                      <div class="numbers">5</div>
                      <div class="cardName">New Subscriptions</div>
                  </div>

                  <div class="icons">
                    <i class="fa-sharp fa-solid fa-plus" style="color: #1bff0a;"></i>
                  </div>
              </div>

              <div class="dashboard-card">
                  <div>
                      <div class="numbers">$16.89</div>
                      <div class="cardName">Avg Subscription Cost</div>
                  </div>

                  <div class="icons">
                    <i class="fa-sharp fa-solid fa-filter-circle-dollar"  style="color:	#008000;"></i>
                  </div>
              </div>
          </div>

  <!-- ========= Dashboard Charts ========== -->
     <div class="chart-title">Six-Month Summary: Average Subscription Fees </div>
        <div class="chart-container">
              <div class="y-axis-labels">
                <span class="y-label">50</span>
                <span class="y-label">40</span>
                <span class="y-label">30</span>
                <span class="y-label">20</span>
                <span class="y-label">10</span>
                <span class="y-label">0</span>
            </div>
            <div class="chart-content">
              <ul class="chart">
                  <li class="bar red" style="height: 50%;" ></li>
                  <li class="bar orange" style="height: 60%;"></li>
                  <li class="bar yellow" style="height: 70%;"></li>
                  <li class="bar green" style="height: 80%;"></li>
                  <li class="bar lightblue" style="height: 40%;"></li>
                  <li class="bar blue" style="height: 50%;"></li>
                  <li class="bar purple" style="height: 30%;"></li>
              </ul>
              <div class="x-axis">
                  <span class="x-label">June</span>
                  <span class="x-label">July</span>
                  <span class="x-label">August</span>
                  <span class="x-label">September</span>
                  <span class="x-label">October</span>
                  <span class="x-label">November</span>
                  <span class="x-label">December</span>
              </div>
          </div>
      </div>
        
          

 