<div class="container mt-5">
  <div class="dashboard-header">USER DASHBOARD</div>
  <div class="dashboard-row">
    <div class="col-md-3">
      <div class="dashboard-card bg-light">
        <div class="value">10</div>
        <div class="description">ACTIVE SUBSCRIPTIONS</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="dashboard-card bg-light">
        <div class="value">5</div>
        <div class="description">CANCELLED SUBSCRIPTIONS</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="dashboard-card bg-light">
        <div class="value">2</div>
        <div class="description">NEW SUBSCRIPTIONS</div>
        <div class="stats text-success">Recently Added</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="dashboard-card bg-light">
        <div class="value">$16.89</div>
        <div class="description">AVG SUBSCRIPTION COST</div>
        <div class="stats text-primary">Per Month</div>
      </div>
    </div>
  </div>
</div>



<div class="container mt-4">
  <h2>Payment Method Breakdown</h2>
  <div class="chart-container">
    <canvas id="myChart"></canvas>
  </div>
</div>


  <!-- ACTIVE SUBSCRIPTIONS TABLE -->

<div class="container mt-4">
  <div class="dashboard-header">Active Subscriptions</div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Subscription</th>
        <th scope="col">Next Due Date</th>
        <th scope="col">Amount</th>
        <th scope="col">Billing Term</th>
        <th scope="col">Category</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="logo-cell"><img src="logo.png" alt="Logo"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-status"></td>
        <td></td>
      </tr>

    </tbody>
  </table>
</div>



  <!-- CANCELLED SUBSCRIPTIONS TABLE -->

  <div class="container mt-4">
      <div class="dashboard-header">Cancelled Subscriptions</div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Subscription</th>
            <th scope="col">Cancel Date</th>
            <th scope="col">Cancel ID</th>
            <th scope="col">Amount</th>
            <th scope="col">Billing Term</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="logo-cell"><img src="logo.png" alt="Logo"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-status"></td>
            <td></td>
          </tr>

        </tbody>
      </table>
    </div>





    <!-- BILLING HISTORY TABLE -->

    <div class="container mt-4">
      <div class="dashboard-header">Billing History</div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Subscription</th>
            <th scope="col">Payment Date</th>
            <th scope="col">Amount</th>
            <!-- Paid, Not Paid, Invalid -->
            <th scope="col">Status</th>
            <th scope="col">Payment Method</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="logo-cell"><img src="logo.png" alt="Logo"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-status"></td>
            <td></td>
          </tr>

        </tbody>
      </table>
    </div>

